.button {
  background: #0278fe;
  width: fit-content;
  height: fit-content;
  padding: 13px 20px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  transition: background-color 1s ease-in-out;
}
.button_place_cover {
  margin: 32px auto 0;
}
.button__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  color: #fff;
}
.button__link_place_cover {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
@media screen and (max-width: 1024px) {
  .button_place_cover {
    margin-top: 32px;
  }
}
@media screen and (max-width: 544px) {
  .button {
    width: 100%;
    max-width: 288px;
    margin: 0 auto 0;
  }
  .button_place_cover {
    margin-top: 16px;
    max-width: 191px;
  }
  .button__link {
    width: 86%;
    max-width: 245px;
    font-size: 14px;
    line-height: 17px;
  }
}
