.footer {
  width: fit-content;
  margin: 0 auto 24px;
}
.footer__copyright {
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: right;
  color: #ffffff;
}
@media screen and (max-width: 544px) {
  .footer__copyright {
    line-height: 100%;
  }
}
