.gallery {
  margin-bottom: 92px;
}
.gallery__table {
  display: grid;
  padding-left: 0;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  max-width: 1184px;
  height: 442px;
  margin: 0 auto 0;
}
.gallery__item {
  width: 100%;
  max-width: 284px;
  height: 213px;
  list-style: none;
}
.gallery__image {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .gallery {
    margin-bottom: 88px;
  }
  .gallery__table {
    grid-template-columns: repeat(2, 1fr);
    width: 94%;
    max-width: 720px;
    height: 1104px;
    margin: 0 auto 0;
  }
  .gallery__item {
    width: 352px;
    height: 264px;
    list-style: none;
  }
  .gallery__image {
    width: 352px;
    height: 264px;
  }
}
@media screen and (max-width: 544px) {
  .gallery {
    margin-bottom: 62px;
  }
  .gallery__table {
    grid-template-columns: 1fr;
    width: 90%;
    row-gap: 12px;
    column-gap: 0;
    max-width: 288px;
    height: 1812px;
    margin: 0 auto 0;
  }
  .gallery__item {
    width: 100%;
    max-width: 320px;
    height: 216px;
    list-style: none;
  }
  .gallery__image {
    width: 100%;
    max-width: 320px;
    height: 100%;
  }
}
