.intro {
  margin: 0 304px 92px 148px;
}
.intro__title {
  width: 828px;
  margin: 0 0 41px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 107%;
  color: #ffffff;
}
.intro__quote {
  width: 736px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 142%;
  color: #ffffff;
}
.intro__quote-author {
  width: 720px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 142%;
  text-align: right;
  color: #ffffff;
}
.intro__text {
  width: 720px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 163%;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin: 0 auto 64px;
    width: 94%;
    max-width: 720px;
  }
  .intro__title {
    width: 99%;
    max-width: 707px;
    margin: 0 0 58px;
  }
  .intro__quote {
    width: 99%;
    max-width: 707px;
    margin: 0;
  }
  .intro__quote-author {
    width: 100%;
    margin: 0 0 32px;
  }
  .intro__text {
    width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 544px) {
  .intro {
    margin: 0 auto 38px;
    width: 90%;
    max-width: 288px;
  }
  .intro__title {
    width: 100%;
    font-size: 2rem;
    line-height: 1.09;
    margin: 0 0 54px;
  }
  .intro__quote {
    width: 100%;
    margin: 0 0 55px;
    line-height: 1.25;
  }
  .intro__quote-author {
    margin: 0 0 18px;
  }
  .intro__text {
    width: 100%;
  }
}
