.logo {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) and (max-width: 544px) {
  .logo {
    width: 62.5%;
    margin-top: 20px;
    margin-bottom: 50.15px;
  }
}
@media screen and (min-width: 544px) and (max-width: 1024px) {
  .logo {
    width: 35.15%;
    margin-top: 34px;
    margin-bottom: 90px;
  }
}
@media screen and (min-width: 1024px) {
  .logo {
    width: 21%;
    margin-top: 34px;
    margin-bottom: 90px;
  }
}
